@use './abstract';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: abstract.$primary-font;
  font-weight: abstract.$font-weight;
}

html,
body {
  background-color: rgb(220, 220, 220);
  color: abstract.$dark-color;
}

.container {
  background-color: abstract.$light-color;
}

// Navbar

.navbar {
  background-color: rgb(240, 240, 240);
}

.nav-link {
  margin: 0 .5rem;
  padding: .5rem;

  &:hover {
    color: red;
  }
}